<!--BOUTON RETOUR À LA LISTE-->
<div class="font-weight-bold mb-4">
  <a routerLink="/annonces"><button type="button" class="btn btn-outline-dark btn-sm">Retour à la liste</button></a>
</div>
<!--TITRE-->
<div class="font-weight-bold mb-4">
  <h1>Publier une annonce</h1>
</div>

<!--PUBLICATION-->
<!--(ngSubmit)="ajouterAnnonce()"#ajoutAnnonce="ngForm"-->
<form (ngSubmit)="creerAnnonce()" #ajoutAnnonce="ngForm" class="was-validated">
  <div class="mb-3">
    <mdb-card>
      <!--ITINERAIRE-->
      <mdb-card-header class="primary-color white-text">
        <h5>
          <strong>Itinéraire</strong>
        </h5>
      </mdb-card-header>

      <!--CHAMPS ITINERAIRE-->
      <mdb-card-body class="px-lg-5 pt-0">

        <div class="row align-items-center mt-3">
          <!--ADRESSE DÉPART-->
          <div class="col-md-3">

            <label for="adresse_depart" class="ml-2">Adresse de départ : </label>

          </div>
          <!--BARRE RECHERCHE DÉPART-->
          <div class="col-md-4">

            <input type="text" class="form-control is-invalid" id="adresse_depart" name="lieuDepart"
              [(ngModel)]="infoCovoit.adresseDepart" #lieuDepart="ngModel" placeholder="Gare de Nantes" required>
              <div *ngIf="lieuDepart.dirty && lieuDepart.invalid" class="invalid-feedback">L'adresse de départ est inconnue.</div>
          </div>
        </div>


        <div class="row align-items-center mt-3">
          <!--ADRESSE DESTINATION-->
          <div class="col-md-3">

            <label for="adresse_destination" class="ml-2">Adresse de destination : </label>

          </div>
          <!--BARRE RECHERCHE DESTINATION-->
          <div class="col-md-4">

            <input type="text" class="form-control" id="adresse_destination" name="lieuDestination"
              [(ngModel)]="infoCovoit.adresseDestination" #lieuDestination="ngModel" placeholder="Gare de Lyon"
              required>
              <div *ngIf="lieuDestination.dirty && lieuDestination.invalid" class="invalid-feedback">L'adresse de destination est inconnue.</div>

          </div>
        </div>


        <div class="row align-items-center mt-3 mb-3">



        </div>

        <div class="row align-items-center mt-3">
          <!--DURÉE DU TRAJET-->
          <div class="col-md-3">

            <label class="ml-2">Durée du trajet : </label>

          </div>

          <div class="col-4 mt-2" *ngIf="lieuDepart.value && lieuDestination.value">

            <p>2H51</p>

          </div>
        </div>

        <div class="row align-items-center mt-1">
          <!--DISTANCE-->
          <div class="col-md-3">

            <label class="ml-2">Distance : </label>

          </div>

          <div class="col-md-4 mt-2" *ngIf="lieuDepart.value && lieuDestination.value">

            <p>250km</p>

          </div>
        </div>

      </mdb-card-body>

      <!--VEHICULE-->

      <mdb-card-header class="primary-color white-text">
        <h5>
          <strong>Véhicule</strong>
        </h5>
      </mdb-card-header>

      <!--CHAMPS VEHICULE-->
      <mdb-card-body class="px-lg-5 pt-0">

        <div class="row align-items-center mt-3">
          <!--IMMATRICULATION-->
          <div class="col-md-3">

            <label for="imma" class="ml-2">Immatriculation : </label>

          </div>
          <!--BARRE RECHERCHE IMMATRICULATION-->
          <div class="col-md-4">

            <input type="text" class="form-control is-invalid" id="imma" name="immatriculation"
              [(ngModel)]="infoCovoit.immatriculation" #immatriculation="ngModel" required>
            <!-- <div class="invalid-feedback">
                Please provide a valid coucou.
              </div> -->

          </div>
        </div>

        <div class="row align-items-center mt-3">
          <!--MARQUE VEHICULE-->
          <div class="col-md-3">

            <label for="marque_vehicule" class="ml-2">Marque : </label>

          </div>
          <!--BARRE RECHERCHE MARQUE VEHICULE-->
          <div class="col-md-4">

            <input type="text" class="form-control is-invalid" id="marque_vehicule" name="marque"
              [(ngModel)]="infoCovoit.marque" #marque="ngModel" required>
              <div *ngIf="marque.dirty && marque.invalid" class="invalid-feedback">La marque est obligatoire.</div>

            <!-- <div class="invalid-feedback">
                Please provide a valid city.
              </div> -->

          </div>
        </div>
        <div class="row align-items-center mt-3">
          <!--MODELE VEHICULE-->
          <div class="col-md-3">

            <label for="modele_vehicule" class="ml-2">Modèle : </label>

          </div>
          <!--BARRE RECHERCHE VEHICULE-->
          <div class="col-md-4">

            <input type="text" class="form-control" id="modele_vehicule" name="modele" [(ngModel)]="infoCovoit.modele"
              #modele="ngModel" required>
              <div *ngIf="modele.dirty && modele.invalid" class="invalid-feedback">Le modèle est obligatoire.</div>

          </div>
        </div>
        <div class="row align-items-center mt-3">
          <!--NOMBRE PLACE DISPONIBLE-->
          <div class="col-md-3">

            <label for="places_vehicule" class="ml-2">Nombre places disponibles :</label>

          </div>
          <!--BARRE RECHERCHE PLACE DISPONIBLE-->
          <div class="col-md-2">

            <input type="number" class="form-control" id="places_vehicule" name="placesDispos"
              [(ngModel)]="infoCovoit.nbPlaceDispo" #placesDispos="ngModel" min="1" max="20" value="1" required>
              <div *ngIf="placesDispos.dirty && placesDispos.invalid" class="invalid-feedback">Le nombre de places doit être compris entre 1 et 20. </div>
          </div>
        </div>

      </mdb-card-body>

      <!--DATE ET HORAIRE-->

      <mdb-card-header class="primary-color white-text">
        <h5>
          <strong>Date et horaire</strong>
        </h5>
      </mdb-card-header>
      <mdb-card-body class="px-lg-5 pt-0">
        <div class="row align-items-center mt-3 mb-3">

          <div class="col-md-3">

            <label for="dateDebut" class="text-center mt-2">Date / Heure :</label>

          </div>

          <div class="col-md-3">
            <input class="form-control mb-1" type="date" id="dateDebut" name="dateDebut"
              [(ngModel)]="infoCovoit.dateDeDepart" min="2019-08-25" #dateDebut="ngModel" data-error="" required />
          </div>


          <!--<div class="col-md-3">
          <input class="form-control" type="time" id="appt" name="appt" value="00:00"
            [(ngModel)]="infoCovoit.heureDeDepart" #heureDepart="ngModel" required>
        </div> -->
          <div class="col-md-2">
            <select class="custom-select mr-sm-2 mb-1 form-control" id="heureDepart" name="heureDepart"
              [(ngModel)]="infoCovoit.heureDeDepart" #heureDepart="ngModel" required>
              <option value="00">00</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
            </select>

          </div>

          <div class="text-center mt-2">

            <p>H</p>

          </div>

          <div class="col-md-2">
            <select class="custom-select mr-sm-2 mb-1" id="minuteDepart" name="minuteDepart"
              [(ngModel)]="infoCovoit.minuteDeDepart" #minuteDepart="ngModel" required>
              <option value="00">00</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>

        </div>
      </mdb-card-body>
    </mdb-card>
  </div>

  <!--BOUTON PUBLIER-->
  <div class="mb-4 d-flex justify-content-end">
    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()"
      [disabled]="ajoutAnnonce.invalid">Publier</button>
  </div>

  <!--MODAL BOUTON PUBLIER-->
  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-top" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Confirmation de votre annonce</h4>
        </div>
        <!--ÉLÉMENTS DE PUBLICATION-->
        <div class="modal-body">
          <div class="row align-items-center mt-3 mb-3">

            <div class="col-md-5 ml-1">
              <div class="font-weight-bold">
                <p>Lieu de départ : </p>
                <p>Destination : </p>
                <p>Immatriculation : </p>
                <p>Marque</p>
                <p>Modèle : </p>
                <p>Nb places disponibles : </p>
                <p>Date/Heure : </p>
              </div>
            </div>
            <div class="col-md-5 ml-2">
              <p>{{lieuDepart.value}}</p>
              <p>{{lieuDestination.value}}</p>
              <p>{{immatriculation.value}}</p>
              <p>{{marque.value}}</p>
              <p>{{modele.value}}</p>
              <p>{{placesDispos.value}}</p>
              <p>{{dateDebut.value}} / {{heureDepart.value}} H {{minuteDepart.value}}</p>
            </div>

          </div>
        </div>

        <!--BOUTON ANNULER / CONFIRMER-->
        <div class="modal-footer">
          <button type="button" mdbBtn class="waves-light danger-color-dark" aria-label="Close"
            (click)="basicModal.hide()" mdbWavesEffect>Annuler</button>
          <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Confirmer</button>
        </div>
      </div>
    </div>
  </div>
</form>
