<div class="col-md-6">
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Nom Prénom</strong>
      <div class="card-text mb-auto"><div class="media d-block d-md-flex">
          <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" src="assets/icons/logo.svg" alt="Generic placeholder image">
          <div class="media-body text-left text-md-left ml-md-3 ml-0">
            <dl>
              <dt class="col-sm-5">Nom</dt>
              <dd class="col-sm-7">######</dd>
              <dt class="col-sm-5">Prenom </dt>
              <dd class="col-sm-7">######</dd>
              <dt class="col-sm-5">Permis</dt>
              <dd class="col-sm-7">######</dd>
              <dt class="col-sm-5">Email</dt>
              <dd class="col-sm-7">######</dd>
              <dt class="col-sm-5">Telephone</dt>
              <dd class="col-sm-7">######</dd>

            </dl>
          </div>
        </div></div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
