<mdb-card>
  <mdb-card-header class="primary-color white-text">
    <h5>
      <strong>Gérer les chauffeurs</strong>
    </h5>
  </mdb-card-header>

  <mdb-card-body class="px-lg-5 pt-0">
    <div class="row align-items-center mt-3">
      <!--BARRE RECHERCHE MATRICULE-->
      <div class="col-md-3">
        <form>
          <label class="ml-2">Matricule </label>
        </form>
      </div>

      <div class="col-md-4">
        <form>
          <input type="search" class="form-control" id="searchName" #saisie placeholder="Recherche par matricule">
        </form>
      </div>
    </div>
    <div class="row align-items-center mt-3">
      <!--BARRE RECHERCHE NOM-->
      <div class="col-md-3">
        <form>
          <label class="ml-2">Nom</label>
        </form>
      </div>

      <div class="col-md-4">
        <form>
          <input type="search" class="form-control" id="searchName" #saisie placeholder="Recherche par nom">
        </form>
      </div>
    </div>
    <div class="row align-items-center mt-3">
      <!--BARRE RECHERCHE PRENOM-->
      <div class="col-md-3">
        <form>
          <label class="ml-2">Prenom</label>
        </form>
      </div>

      <div class="col-md-4">
        <form>
          <input type="search" class="form-control" id="searchName" #saisie placeholder="Recherche par prénom">
        </form>
      </div>

      <div class="col-md-5">
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>details</button>
        <button type="button" class="btn btn-danger" (click)="openModal(content)">Ajouter un chauffeur</button>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Nouveau chauffeur</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row align-items-center mt-3">
        <!--BARRE RECHERCHE MATRICULE-->
        <div class="col-md-3">
          <form>
            <label class="ml-2">Matricule </label>
          </form>
        </div>

        <div class="col-md-9">
          <form>
            <input type="search" class="form-control" id="searchName" #saisie placeholder="Recherche par matricule">
          </form>
        </div>
      </div>
      <div class="row align-items-center mt-3">
          <div class="col">
              <button (click)="modalRef.hide()" class=" btn btn-info">Annuler</button>
            </div>
          <div class="col">
              <button type="submit" class="btn btn-info">Valider</button>
          </div>


      </div>

    </div>
  </div>
</ng-template>


<div *ngIf="chauffeurs.length>0">
  <div class="card my-3" style="max-width: 540px;" *ngFor="let chauffeur of chauffeurs">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{chauffeur.nom}} {{chauffeur.prenom}}</h4>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/icons/logo.svg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-text">
            <dl class="row">
              <dt class="col-sm-5">Matricule:</dt>
              <dd class="col-sm-7">{{chauffeur.matricule}}</dd>
              <dt class="col-sm-5">Nom: </dt>
              <dd class="col-sm-7">{{chauffeur.nom}}</dd>
              <dt class="col-sm-5">Prenom:</dt>
              <dd class="col-sm-7">{{chauffeur.prenom}}</dd>
              <dt class="col-sm-5">Role:</dt>
              <dd class="col-sm-7">{{chauffeur.roles}}</dd>
              <dt class="col-sm-5">Email:</dt>
              <dd class="col-sm-7">{{chauffeur.email}}</dd>

            </dl>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
