<mdb-card>
  <mdb-card-header class="primary-color white-text">
    <h5>
      <strong>Gérer les chauffeurs</strong>
    </h5>
  </mdb-card-header>

  <mdb-card-body class="px-lg-5 pt-0">
    <div class="row align-items-center mt-3">
      <!--BARRE RECHERCHE MATRICULE-->
      <div class="col-md-3">
        <form>
          <label class="ml-2">Matricule </label>
        </form>
      </div>

      <div class="col-md-4">
        <form>
          <input type="search" class="form-control" id="searchName" #saisie placeholder="Recherche par matricule">
        </form>
      </div>
    </div>
    <div class="row align-items-center mt-3">
      <!--BARRE RECHERCHE NOM-->
      <div class="col-md-3">
        <form>
          <label class="ml-2">Nom</label>
        </form>
      </div>

      <div class="col-md-4">
        <form>
          <input type="search" class="form-control" id="searchName" #saisie placeholder="Recherche par nom">
        </form>
      </div>
    </div>
    <div class="row align-items-center mt-3">
      <!--BARRE RECHERCHE PRENOM-->
      <div class="col-md-3">
        <form>
          <label class="ml-2">Prenom</label>
        </form>
      </div>

      <div class="col-md-4">
        <form>
          <input type="search" class="form-control" id="searchName" #saisie placeholder="Recherche par prénom">
        </form>
      </div>

      <div class="col-md-5">
        <button type="submit" class="btn btn-info" [disabled]="form.invalid">Ajouter un chauffeur</button>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>



<mdb-card class="my-3">
  <mdb-card-header class="primary-color white-text">
    <h5>
      <strong>nom prenom</strong>
    </h5>
  </mdb-card-header>

  <mdb-card-body class="px-lg-5 pt-0">



    <div class="col p-4 d-flex flex-column position-static">

      <div class="card-text mb-auto">
        <div class="media d-block d-md-flex">
          <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" src="assets/icons/logo.svg" alt="Generic placeholder image">
          <div class="media-body text-left text-md-left ml-md-3 ml-0">
            <div class="row align-items-center mt-3">

              <div class="col-md-4">
                <h5>Nom </h5>
              </div>

              <div class="col-md-8">
                <h5>Dupont</h5>
              </div>

              <div class="col-md-4">
                <h5>Prénom</h5>
              </div>

              <div class="col-md-8">
                <h5>Robert</h5>
              </div>

              <div class="col-md-4">
                <h5>Permis </h5>
              </div>

              <div class="col-md-8">
                <h5>xxxx-xxxx-xxxx </h5>
              </div>

              <div class="col-md-4">
                <h5>Email </h5>
              </div>

              <div class="col-md-8">
                <h5>robert.dupont@gmail.com</h5>
              </div>

              <div class="col-md-4">
                <h5>Téléphone </h5>
              </div>

              <div class="col-md-8">
                <h5>06.26.24.25.23 </h5>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </mdb-card-body>
</mdb-card>

<div class="card mb-4 shadow-sm" style="height: 100%">
  <div class="row card-body text-center">

    <div class="row text-center" *ngIf="chauffeurs.length>0">

      <div class="card border-info mb-3 text-center" style="max-width: 18rem;" *ngFor="let chauffeur of chauffeurs">

        <div class="card-header text-center">
          <h4> {{chauffeur.nom | uppercase}} {{chauffeur.prenom}}</h4>
        </div>
        <div class="card-body text-info text-center">
          <h5 class="card-title"></h5>
          <p class="card-text"><img src="assets/icons/logo.svg" width="200" height="200"></p>
        <div>{{chauffeur.email}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
