
    <nav class="nav-pills nav justify-content-center mx-4">
        <div *ngIf="!(collegueConnecte | async).estAnonyme()">
        <div class="row">
          <ul class="nav justify-content-center">
            <li class="nav-item">
                <img src="assets/icons/logo.png" width="50" height="50">
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" routerLink="/reservations" routerLinkActive="active">Vos réservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" routerLink="/annonces" routerLinkActive="active">Vos annonces</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" routerLink="/statistiques" routerLinkActive="active">Statistiques</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger" (click)="seDeconnecter()">Se déconnecter</a>

            </li>
          </ul>
        </div>
        <div class="row justify-content-center mt-3 mb-5">

            <span>{{(collegueConnecte | async).email}}</span>
            <span>({{(collegueConnecte | async).roles}})</span>
          </div>


        </div>
      </nav>


