<div class="row my-5">
    <div class="col-2">
      <a class="p-2" routerLink="/vehicules">VEHICULES</a>
    </div>
    <div class="col-10 text-left">
      <p> &#10095; Immatriculation </p>
    </div>
  </div>


      <div class="row card-body">
          <div class="col-md-8">
              <div class="d-flex justify-content-around">
                  <div class="element">
                      <img src="{{vehicule.photoUrl}}" class="img-fluid shadow-sm" alt="No image"/>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <dl class="row">
                  <dt class="col-sm-5">Marque</dt>
                  <dd class="col-sm-7">{{vehicule.marque}}</dd>
                  <dt class="col-sm-5">Modèle</dt>
                  <dd class="col-sm-7">{{vehicule.modele}}</dd>
                  <dt class="col-sm-5">Catégorie</dt>
                  <dd class="col-sm-7">{{vehicule.categorie}}</dd>
              </dl>
          </div>
      </div>



<table mdbTable bordered="true">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let resas of reservationsAVenir">
        <th scope="row">{{resas?.dateDeDebut | date:'dd/MM/yyyy HH:mm'}}</th>
        <td>{{resas?.dateDeFin}}</td>
        <td>{{resas?.passager}}</td>

      </tr>
    </tbody>
  </table>
