<button
  type="button"
  aria-haspopup="dialog"
  aria-controls="dialog">Ouvrir ma fenêtre modale
</button>

<div
  id="dialog"
  role="dialog"
  aria-labelledby="dialog-title"
  aria-describedby="dialog-desc"
  aria-modal="true"
  aria-hidden="true"
  tabindex="-1"
  class="c-dialog">
  <div role="document" class="c-dialog__box">
    <h2 id="dialog-title">Ma fenêtre modale</h2>
    <p id="dialog-desc">Je suis une fenêtre modale accessible.</p>
  </div>
</div>

<form action="" method="post">
  <p>
    <label for="email">Email</label><br />
    <input type="email" id="email" />
  </p>
  <p>
    <label for="password">Mot de passe</label><br />
    <input type="password" id="password" />
  </p>
  <p>
    <button type="submit">Valider</button>
  </p>
</form>
<button
  type="button"
  aria-label="Fermer"
  title="Fermer cette fenêtre modale"
  data-dismiss="dialog">X
</button>


